/*
desktop
*/
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  background-color: rgba(50,50,50,.1);
}

h1{
  text-align: center;
  margin: 15px;
}
form{
 display: flex;
  align-items: center;
  justify-content: center;
}
form button{
  border: none;
  padding: 3px;
  margin: 2px;
  background-color: rgba(108, 201, 245,.9);
  cursor: pointer;
  font-weight: 700;
}
.divContainer{
  background-color: rgba(50,50,50,.6);
  width: 50vw;
  padding:10px ;
  border-radius: 3px;
}
.divContainer input{
  display: block;
}
#acesso{  
  margin:5% 25% ;  
  font-size: 1.3rem;
  border-bottom: black 3px solid;
}
#acesso button{
 
  cursor: pointer;
  float: right;  
  padding: 4.5px 12px;
  border: none;
  background-color: rgb(233, 77, 77);
  border-radius: 2px;
  
}


/* */
/* mobile- monitores abaixo de 890px*/
@media screen and (max-width: 768px) {
 
}
